venv/
*__py_cache__*
do_not*
.vscode/
.idea/
**/__pycache__/

# Django
*.pyc
__pycache__/

# Build artifacts
*.egg-info/
build/
dist/

# Virtual environment
.env
.venv/
venv/
**/FileContentIndex/
*.bin
**/v17/
firebase-credentials.json

**.vs/
.vs/

.venv/
venv/
myenv/
**/venv*
spenv/

test_update.py
*.env
classification_model/*
firebase-credentials.json
static/